* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	color: #2c3e50;
	background-color: #fafafa;
}

a {
	text-decoration: none;
	color: #2c3e50;
	&:hover {
		color: #ff8f00;
		transition: 0.3s;
	}
}

#app {
	max-width: 1280px;
	height: 100vh;
	margin: auto;
}

.head-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #2c3e50;
	margin-bottom: 20px;
	.col-2 {
		display: flex;
		justify-content: center;
		align-items: center;
		:first-child {
			margin-right: 10px;
		}
		:last-child {
			margin-left: 7px;
		}
	}
}

.contact-link {
	text-decoration: none;
	svg {
		fill: #2c3e50;
		width: 24px;
		height: 24px;
	}
	svg:hover {
		fill: #ff8f00;
		transition: 0.3s;
	}
}

.main-content {
	margin-bottom: 40px;
	h2 {
		margin-bottom: 20px;
	}
	.list {
		justify-content: space-around;
		align-items: center;
		align-content: center;
		.row-list {
			display: flex;
			margin-bottom: 10px;
			.periode {
				flex: 1;
			}
			.activite {
				flex: 2;
				.nom-activite {
					font-weight: bold;
					font-size: 18px;
					margin-bottom: 5px;
					.location {
						font-weight: normal;
						font-style: italic;
					}
				}
				.description ul {
					margin-top: 5px;
					margin-bottom: 5px;
				}
				.description ul li {
					margin-left: 15px;
				}
			}
		}
	}
	.competences {
		display: flex;
		justify-content: space-evenly;
		.list-competences ul {
			margin-left: 15px;
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
	.interets-container {
		display: flex;
		justify-content: space-evenly;
	}
}
